*{
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 40px;
}
header{
    display: flex;
    align-items: center;
    font-size: 30px;
    border: 1px solid white;
    white-space: nowrap;
    margin-top: 50px;
    gap: 20px;
    color: black;
    /* background-color: white; */
    padding: 5px 20px;
    border-radius: 5px;
}
header h2{
    font-family: sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:rgb(55, 136, 168);   
    padding: 100px 100px; 
    border-radius: 50px;
    height: 500px;
    position: relative;
    
}
main:hover{
    border: 1px solid white;
    /* box-shadow: 10px white; */
    transform: all ease-in-out 0.2s;
}
.anchor-element-card{
    border-radius: 4px;
    text-align: center;
    padding: 20px 20px;
    background-color: white;

}
.website-container{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: cadetblue;
    font-size: 26px;
    border: 1px solid silver ;
    box-shadow:  5px 10px #888888;
}
.anchor-element-card:hover{
    background-color: black;
    color: black;
}
.anchor-element-card:hover a{
    background-color: cadetblue; 
    color: white;  
    box-shadow: none;
}

.git-hub{
    width: 100%;
    position: absolute;
    bottom: 10px;
    right: 0px;
    
}
.git-hub p{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.git-hub a{
    border: none;
    font-size: 42px;
    color: white;
    background-color: black;
    padding: 15px 30px;
    box-shadow: none;
    border-top-left-radius: 50% ;
    border-bottom-right-radius: 50% ;
    border: 1px solid white;
    transform: scale(0.7);
    
}
.git-hub a:hover{
    box-shadow:0px 3px 20px 5px white;
    border: 1px solid white;
    transform: scale(0.8);
    transition:all ease-in-out 0.2s;
    
}