

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

svg{
    width: 24px;
    height: 24px;
}
button{
    background-color: transparent;
}
body{
    line-height: 1.4;
    font-size: 14px;
    font-family:  "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
}
.nav-container{
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
}
.nav-header-container-mob{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}
.nav-title svg{
    fill:#f1641e;
    width: 60px;
    height: 30px;
}
.search-input-container-tab{
    display: none;
}
.nav-header-left-card{
    display: flex;
    font-size: 14px;
    list-style-type: none; 
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;       
}
.nav-header-left-card li{
    height: 48px;
    padding: 12px;
    display: flex;
    align-items: center;
}
.user-icon-tab{
    display: none;
}
#signin-btn{
    padding: 0;
    display: flex;
    align-items: center;
    font-weight: 600;
    
}
.nav-header-left-card li button{
    /* border: none; */
    padding: 9px 15px;
    margin-right: 6px;
    border: none;
}
.left-header-icon{
    /* padding: 24px; */
}
.nav-header-left-card .left-header-icon svg{
    width: 24px;
    height: 24px;
    
}

/* nav bar with search container mobile */
.nav-main-container-desk{
    display: none;
}
.nav-main-container-mob{
    display: flex;
    height: 60px;
    align-items: flex-start;
}
.nav-main-container-mob button#hamburger-btn {
    padding: 12px;
    padding-left: 0px;
    border: none; 
}
.nav-main-container-mob button#hamburger-btn svg{
    width: 24px;
    height: 24px;       

}
.search-input-container-mob{
    display: flex;
    overflow: hidden;
    width: 100%;
    border: 2px solid #222;
    border-radius: 96px;
    box-shadow: 1px 2px 4px 0 rgb(34 34 34 / 10%) inset;
    max-height: 48px;
    background-color: rgba(34, 34, 34, 0.05);;
}
.search-box{
    padding: 9px 42px 9px 18px;
    font-size: 16px;
    width: 100%;
    border: none;
    background-color: transparent;
}
.search-icon{
    border: none;
    padding: 11px 21px 11px 15px;

}

.search-icon svg{
    width: 24px;;
    height: 24px;
}


/* main */
.main-container{
    display: flex;
    flex-direction: column;
    background-color: #d7e6f5;
    height: 296.5px;
    position: relative;
}
.main-label-text{
    font-size: 20px;
    color: #212121;
    font-weight: 300;
    text-align: center;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    
    padding: 18px 12px 0;
    letter-spacing: 0.35;
    line-height: 32px;
}



/* main bubble cards */
.cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* background-color: yellow; */
    top: 31%;
    position: absolute;
    width: 100%;

}
.img-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 140px;
}
.img-title-container p{
    width:0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    position: relative;
    white-space: nowrap;
    
}
main .card-img img{
    max-width:87.28px;
    border-radius: 50%;
}
main .card-img{
    width: fit-content;
    height: fit-content;
    /* background-color: teal;     */
}
main .card-img-title{
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 18px;
}

/* hover for main bubbles */

.img-title-container:hover .card-img{
    transform: scale(1.1);
    /* box-shadow: rgb(34 34 34 / 10%); */
   
}
.img-title-container:hover .card-img img{
    border: 1px solid rgba(34, 34, 34, 0.25);
}

div.img-title-container:hover  p{
    color:rgba(34, 34, 34, 0.747);
    transition: all ease-in-out .2s;
    /* position: absolute;
    top: 70%; */
    width: 100%;
    border-bottom: 2px solid rgba(34, 34, 34, 0.747);
}

/* aside element */
 aside{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100vw;
    overflow: hidden;    
    gap: 12px;
    padding:200px 12px 12px;
 }
 aside div{
    /* padding: 5px; */
    /* margin: 5px; */
    height: 120px;
 }

.aside-head-text-box{
    display: none;
}
.aside-foot-text-box{
    display: none;
}
.card-box{
    width: 100%;
    /* background-color: yellow; */
    position: relative;
    border-radius: 5px;
    /* height: %; */
   
}
.card-box img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
    position: relative;
    border-radius: inherit;
}
.card-box video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; */
    position: relative;
    border-radius: inherit;
}
 .vid-btn{
    position: absolute;
    z-index: 2;
    background-color:white;
    bottom: 2%;
    right: 2%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(34,34,34,0.15);
    /* display: none; */
}
.card-box .vid-btn svg{
    width: 18px;
    height: 18px;
    padding-left: 2px;
}
.card-box .price-box{
    position: absolute;
    bottom :0%;
    left:2%;
    z-index: -1;
    background-color: transparent;
    padding: 6px 9px;
    border-radius: 15px;
    font-size: 13px;
    border: none;
    color: transparent;
    /* display: none; */
    font-weight: 700;
    transition:  all 0.7s ease;
    

    
 }
 .card-box:hover .price-box{
    z-index: 2;
    color: black;
    /* border: 1px solid rgba(34,34,34,0.15); */
    background-color: white;
    bottom: 10px;
    left: 10px;
    
}
 


 .card-box .like-btn{
    position: absolute;
    z-index: 3;    
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    top:5%;
    right: 2%;
    background-color: transparent;
    fill: transparent;
    transition:  all 0.7s ease;
 }

 .card-box .like-btn svg{
    width: 18px;
    height: 18px;
 }

/* card-box hovers */

.card-box:hover .vid-btn{
    display: none;
}

.card-box:hover .like-btn{
    /* border: 1px solid rgba(34,34,34,0.15); */
    background-color: white;
    fill:black;
    top: 2%;
    right: 2%;
    
}
.card-box:hover .price-box{
    display: flex;
}

 /* ---------------------------------------------------- */


/* section main with cards */

.section-main{
    margin-top: 100px;
    /* background-color: teal; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 6px;
}
.section-main-label a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212121;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    padding-bottom: 18px;
}
.section-main-label a i{
    font-size: 13px;
    margin-left: 8px;
    /* padding-top: px; */
    font-weight: 100;
}
.section-main-img-cards-cont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.section-main-img-cards-cont a{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin: 6px;
    border-radius: 20px;
    border: 1px solid  rgba(34, 34, 34, 0.15);
    text-decoration: none;
}
.section-main-img-cards-cont a .section-main-img-box{
    border-radius: inherit;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.section-main-img-cards-cont a .section-main-img-box img{
    width: 100%;
    border-radius: inherit;
}
.section-main-text-box{
    padding: 12px;
}
.section-main-text-box p{
    font-size: 16px;
    font-weight: 700;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    text-align: center;
    line-height: 20px;
    color: #222222;
    
}

/* input-button card */
#input-button-container{
    background-color: #d7e6f5;
    padding: 18px 24px 12px;
    margin: 60px 12px ;
    border-radius: 6px;

}
.inBtn-card{
    /* background-color: yellow; */
    
}
.inBtn-card .inBtn-label{
    font-size: 16px;
    margin-bottom: 12px;
    text-align: center;
    padding: 0 6px;
}
.inBtn-box{
    display: flex;
    border-radius: 96px;
    box-shadow: 3px 2px 4px 0 rgb(34 34 34 / 10%) inset;
    border: 1px solid rgb(34 34 34 / 10%);
}
.inBtn-box:hover{
    border: 1px solid  rgb(34 34 34 / 60%);
    transition: all ease 0.2s;
}
.inBtn-box input{
    overflow: hidden;
    width: 100%;
    font-size: 16px;
    padding: 9px 12px 9px 18px;
    border: none;
    border-radius: inherit;
    border-bottom-right-radius:0 ;
    border-top-right-radius:0 ;
}
.inBtn-box button{
    padding: 12px 21px 12px 15px;
    font-size: 16px;
    border: none;
    font-weight: 600;
    background-color: white;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* article for mobile */

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.article-label-card{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 13px;
}
.article-label-card h3{
    font-size: 18px;
}
#article-img-cards-cont{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 12px;
}
.art-img-text-card{
    display: flex;
    width: 100%;
    border: 1px solid  rgba(34, 34, 34, 0.15);
    margin: 6px 0;
    border-radius: 12px;
    background-color: white;

}
.art-img-text-card .img-box{
    width: 50%;
    border-radius: inherit;
}
.art-img-text-card .img-box img{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    object-fit: cover;

}
.art-img-text-card .text-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:  0px 18px 6px;
}
.art-img-text-card .text-box .card-title{
    padding-top:18px;
}
.art-img-text-card .text-box .card-desc{
    padding: 12px 0;
}
.art-img-text-card .text-box .card-para{
    display: none;
}

/* footer */

footer{
    display: flex;
    flex-direction: column;
    color: #222222;
}
footer a{
    color: #212121;
}
.svg-border{
    height: 24px;
}
.svg-border svg{
    width: 100%;
    transform: rotateX(180deg);
    fill:rgba(252, 200, 209, 0.493);
    height: 24px;
}

#story-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 30px;
    background-color: rgba(252, 200, 209, 0.493);
    text-align: center;
}
.story-head-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.story-head-box h2{
    font-size: 44px;
    line-height: 48px;
    font-family: "Guardian-EgypTT",Charter,"Charter Bitstream",Cambria,"Noto Serif Light","Droid Serif",Georgia,serif;
    font-weight: lighter;
    margin-bottom: 6px;
}
.stoyr-card{
    margin-bottom: 6px;
}
.foot-story-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 0px 0px;
}
.foot-story-card h3{
    font-size: 24px;
    margin-bottom: 18px;
}
.foot-story-card p{
    line-height: 28px;
    font-size: 16px;
    padding: 5px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
}
.foot-story-card p a{
    text-decoration-style: dashed;
    text-underline-offset: 5px;
}
.story-foot-box{
    font-size: 18px;
    padding-top: 36px;
}
.story-foot-box button{
    font-size: 16px;
    margin: 12px 0 0;
    height: 48px;
    width: 172.02px;
    background-color: transparent;
    border: 2px solid #222;
    border-radius: 24px;
    
}
.story-foot-box button:hover{
    /* background-color: yellow; */
    box-shadow:1px 1px 7px 3px rgb(34 34 34 / 11%);
    width: 174.02px;
    height: 49px;
    margin-top: 11px;
}
.story-foot-box button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.foot-main-container{

}
.footer-main-head-box{
    background-color: rgba(252, 200, 209, 0.493) ;
    display: flex;
    flex-direction: column;
}
.blue-svg-border{
    height: 24px;
}
.footer-main-head-box .blue-svg-border svg{
    width: 100%;
    transform: rotate(180deg);
    height: 24px;
    fill: #4d6bc6;
}
.footer-tagline-box{
    background-color: #4d6bc6;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-main-head-box  svg{
    fill: white;
    width: 36px;
    height: 36px;
}
.footer-tagline-box p{
    font-size: 16px;
    color: white;
    margin: 6px 12px 0;
    text-align: center;
    line-height: 28px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
    text-decoration-line: underline;
    text-decoration-style: dashed ;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}
.foot-nav-container{
    display: flex;
    flex-direction: column;
    padding: 12px 6px;
    background-color:#2f466c;
    color: white;
    font-weight: 600;
}
.foot-nav-container svg{
    fill: white;    
}
.foot-nav-card{
    margin-bottom: 12px;
}
.foot-nav-head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 12px 18px;
    margin-bottom: 6px;
    font-size: 16px;
    border: none;
    color: rgba(255, 255, 255, 0.918);
    font-weight: 600;
}

.foot-nav-head.hel{
    background-color: white;
}
.foot-nav-head span{
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
}
/* .foot-nav-card.display-list .element-list-items{
    display: none;
} */


/* elements dropdown */

.element-list-items{
    display: none;
    padding: 0 18px;
    list-style-type: none;
}
.element-list-items.display-list{
    display: flex;
}
.element-list-items li{
    padding: 6px 6px 12px;
    font-size: 16px;
    font-weight: lighter;
}
.element-list-items li:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}
.help-social-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
    padding-top: 20px;
}
.download-card{
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 15px;
    border: 2px solid rgba(255, 255, 255, 0.795);
    border-radius: 24px;
    margin-top: 1px;
    height: 40px;
}
.download-card:hover{
    height: 41px;
    margin-top: 0;
    padding-left:16px ;
    padding-right: 16px
}
.download-card span{
    display: flex;
    align-items: center;

}
.download-card svg{
    margin-top: 1px;
}
.social-card{
    margin-top: 18px;
    padding-bottom: 12px;
    display: flex;
    gap: 12px;
}
.social-card svg{
    width: 36px;
    height: 36px;
}

.foot-footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    background-color: #232347;
    color: white;
    fill: white;
    padding: 18px 24px;

}
.foot-footer-container a{
    color: white;
}
.lang-country-card{
    display: flex;
    padding: 9px 15px;
    margin-bottom: 12px;
}
.copy-terms-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright-card{
    margin-bottom: 12px;
}
.terms-box{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   padding: 0 40px;
}
.terms-box a{
    margin-right: 12px;
}

@media  screen and (min-width: 768px ) {
    
    nav{
        /* max-width: 1400px; */
        margin: auto;
        
    }
    .nav-main-container-mob{
        display: none;
    }
    .nav-header-container-mob{
        max-width: 1328px;        
        padding: 0px 12px;
        height: 100%;
        margin: auto;
        width: 100%;
        
    }
    .nav-container{
        height: 58px;
        justify-content: center;
        position: fixed;
        margin: auto;
        width:100%;
        background-color: white;
        z-index:100;
        top: 0;
        
    }
    
    .search-input-container-tab{
        display: flex;
        width: 100%;
        margin-left: 6px;
        height: 44px;
    }
    .search-box:focus{
        outline: none;
    }
    /* click function */
    .search-icon.background{
        background-color:#222222;
        fill: white;
    }
    .search-box.background{
        background-color: white;
    }
    .search-input-container-tab #search-icon{
        padding: 7px 15px 11px 15px;
    }
    .nav-title svg{
        width: 80px;
        height: 40px;
    }

    .nav-title {
        padding-top:10px;
    }
    .user-icon-tab{
        display: inline;
    }
    .nav-header-left-card .tab-none{
        display: none;
    }

    /* bubble img box */
    .main-container{
        height: 145px;
        margin-top: 58px;
    }
    .main-label-text{
        font-size: 26px;
        line-height: 46px;
        letter-spacing: 0.35px;
    }
    .cards-container{
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
        top: 43%;
    }
    /* aside */

    aside{
        grid-template-columns:repeat(9,1fr);
        grid-template-rows: 306px 306px;
        height: 100%;
        padding: 160px 36px 12px;
        
    }
    aside div{
        height: 100%;
    }
    .card-box img{
        object-fit: cover;
        object-position: 60%;
    }
    .card-box video{
        object-fit: cover;
        object-position: 30%;
    }
    .card-box:nth-child(5){
        grid-column: span 3;
        background-color: #222222;
        width: 100%;
    }
    .card-box:nth-child(4){
        grid-column: span 3
    }
    .card-box:nth-child(2), .card-box:nth-child(6){
        grid-column: span 2;
    }
    .aside-head-text-box{
        display: flex;
        flex-direction: column;
        grid-column: span 3;
        justify-content: center;
    }
    .aside-head-text-box span{
        color: #595959;;
        font-size: 13px;
    }
    .aside-head-text-box h2{
        font-weight: 600;
        font-size: 28px;
        line-height: 36px;
        padding-bottom: 24px;
        margin-top: 6px;
    }
    .aside-head-text-box p{
        font-size: 16px;
        font-weight: 600;
        color: #222;
    }
    .aside-foot-text-box{
        display: flex;
        grid-column: span 3;
        font-size: 16px;
        justify-content: center;
        align-items: center;
    }

    /* section main */
    .section-main{
        padding: 0 12px;
        margin-top: 110px;
    }
    .section-main-label{
        width: 100%;
    }
    .section-main-label a{
        justify-content: flex-start;
        margin-left: 10px;
        padding-bottom: 9px;
    }
    #section-main-label-card  h2{
        font-size: 28px;
    }
    .section-main-label a i{
        font-size: 18px;
    }
    .section-main-img-cards-cont{
        grid-template-columns: repeat(3,1fr);
    }
    .section-main-img-cards-cont a{
        margin: 9px;
    }
    .section-main-text-box p{
        font-size: 20px;        
    }
    .section-main-text-box{
        height: 78px;
        padding: 0;
        display: flex;
        align-items: center;
        
    }
    /* input button-container */
    #input-button-container{
        margin: 60px 24px;
    }
    .inBtn-label{
        letter-spacing: 0.35px;
    }
    .inBtn-box{
        max-width: 480px;
        margin: auto;
    }
    /* article */
    .article-label-card{
        width: 100%;
        padding-left: 24px;
    }
    .article-label-card h2{
        font-size: 28px;
    }
    .article-label-card i{
        font-size: 18px;
    }
    #article-img-cards-cont{
        flex-direction: row;
        padding: 12px;
    }
    .art-img-text-card{
        flex-direction: column;
        margin: 9px;
    }
    .art-img-text-card .img-box{
        width: 100%;
        border-radius: none;
    }
    .art-img-text-card .img-box img{
        border-radius: 0px;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
    }
    .art-img-text-card .text-box{
        width: auto;
        font-size: 13px;
        padding: 0px 18px 18px;
    }
    .art-img-text-card .text-box .card-desc{
        font-size: 20px;
    }
    .art-img-text-card .text-box .card-para{
        display: flex;
        height: 54px;
        overflow: hidden;
        /* text-overflow: ellipsis; */
    }

    /* footer */
    .foot-story-card p{
        letter-spacing: 0.5px;
    }
    
    .footer-main-head-box .blue-svg-border svg{
        height: 25px;
    }
    .footer-tagline-box{
        flex-direction: row;
        justify-content: center;
    }
    /* nav */

    .foot-nav-container{
        padding: 24px 24px 12px 6px;
    }
    .foot-nav-box{
        display: flex;
        justify-content: space-between;
    }
    .foot-nav-card{
        width: 100%;
    }
    .foot-nav-head span{
        display: none;
    }
    .element-list-items{
        display: flex;
        flex-direction: column;
        
    }
    .element-list-items li{
        padding: 6px 0px;
        white-space: nowrap;
        font-size: 13px;
        letter-spacing: 0.35px;
    }
    .social-card{
        flex-wrap: wrap;
    }
    .lang-country-card{
        align-items:center ;
        gap: 10px;
    }
    .copy-terms-container{
        flex-direction: row;
        align-items: flex-start;
    }
}



@media screen  and (min-width:960px) {

    /* header */
    .nav-container{
        height: auto;
        background-color: white;
    }
    .nav-main-container-desk{
        display: flex;
        width: 100%;
        max-width: 1328px;
        margin: auto;
        padding: 0 36px;
        background-color: white;
    }
    .nav-main-container-desk ul{
        display: flex;
        width: 100%;
        list-style-type: none;
        justify-content: space-between; 

    }
    .nav-li-el{
        padding: 0 0 12px;
        margin : 4px 12px 0px 0px;
        font-size: 13px;
    }

    .nav-li-el:hover a{
        border-bottom: 1px solid rgba(34, 34, 34, 0.747);
        /* transition: linear ease-out 0.7s; */
        
    }
    .nav-li-el a{
        text-decoration: none;
        color: #212121;
        padding-bottom: 10px;
    }
    .nav-li-el:last-child a{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;

    }
    .nav-li-el a svg{
        width: 16px;
        height: 12px;
        padding-bottom: 2px;
        margin-right: 5px;
    }

    /* bubble cards */
    .main-container{
        margin-top: 110px;
    }
    .main-label-text{
        font-size: 32px;
    }
   .cards-container {
        max-width: 1044px;
        position: static;
        margin: auto;
        /* right: 50%; */
        height: 166px;
        margin-top: 22px;
    }  
    main .card-img img{
        width: 114px;
        height: 114px;
        max-width: 114px;
    }
    main .card-img-title{
        font-size: 16px;
    }
    /* aside */
     
    aside{
        max-width: 1328px;
        margin: auto;
        
    }

    /* section */
    section{
        max-width: 1328px;
        margin: auto;
    }
    .section-main-img-cards-cont {
        display: flex;
        
    }
    .section-main-img-cards-cont a:nth-child(6){
        display: none;
    }
    /* blue box */
    #input-button-container{
        max-width: 1270px;
        margin:60px auto 60px;
    }
   
    article{
        max-width: 1328px;
        margin: auto;
        margin-bottom: 60px;
    }
    #article-img-cards-cont{
        max-width:1300px;
        margin: auto;
    }
    /* footer */
    #story-container #story-card{
        display: flex;
        gap: 36px;
        max-width: 1328px;
        margin: auto;
        
    }
    #story-card .foot-story-card{
        align-items: flex-start;
        text-align: left;
        max-width: 406.67px;
    }
    .foot-story-card h3{
        font-size: 28px;
        padding: 4px;
    }
    .blue-svg-border{
        height: 50px;
    }

    .footer-main-head-box .blue-svg-border svg{
        height: 51px;
    }
    .foot-nav-box{
        width: 100%;
        max-width: 1328px;
        margin: auto;
    }
    .foot-footer-container{
        flex-direction: row;
        justify-content: space-between;
        max-width: 1328px;
        margin: auto;
        padding-left: 0;
    }
    .foot-footer-container-back{
        background-color: #232347;
    }
    .lang-country-card{
        padding-left: 0;
    }
}

/* destop */

@media screen and (min-width : 1024px) {
    
   .nav-header-container-mob{
        /* box-shadow:3px 3px 71px  rgb(34 34 34 / 12%); */
   }

}