
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg{
  width: 24px;
  height: 24px;
}
button{
  background-color: transparent;
}
body{
  line-height: 1.4;
  font-size: 14px;
  font-family:  "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
}